====== Technical Requirements Links ======

//Italic Text//How Much Storage Space do You Have? 

All Canvas Users have 50MB of storage space for files. 

 * [[https://guides.instructure.com/m/4214/l/41056-which-browsers-does-canvas-support|Which Browsers Does Canvas Support?]]