====== Technical Info ======

//How Much Storage Space do You Have?// 

  * All Canvas Users at UMW have **50** MB of storage space for files. 
  * All Canvas Courses at UMW have **500** MB of storage space for content. 

//What Browsers Work Best with Canvas?//
  * [[https://community.canvaslms.com/docs/DOC-1284|Which Browsers Does Canvas Support?]]

//How do I Access Canvas using a mobile browser instead of the app, on my phone or tablet?//
  * [[https://community.canvaslms.com/docs/DOC-1656|How do I access Canvas using a mobile browser on my iOS device?]]
  * [[https://community.canvaslms.com/docs/DOC-1546|How do I access Canvas using a mobile browser on my Android?]]
  * [[https://community.canvaslms.com/docs/DOC-1543|How do I find UMW's URL to access Canvas on my mobile apps?]]